.tbl {

  width: 100%;
  max-width: 100%;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  border-collapse: collapse;

  @at-root {

    #{&}__header {

      th {
        border-bottom: 1px solid $border-color;
        text-align: left;
      }

    }

    #{&}__row {

      @at-root {

        #{&}--clickable {

          cursor: pointer;
          transition: all .2s linear;

          &:hover, &:active {
            background-color: $background-color;
          }

        }

      }

    }

    &__col {

      &:first-child { padding-left: 1.5rem; }
      &:last-child { padding-right: 1.5rem; }

      @at-root {

        &--number { text-align: right; }
        &--text-left { text-align: left; }
        &--text-right { text-align: right; }

      }

    }

  }

  td,
  th {
    padding: .75rem;
    border-top: 1px solid $border-color;
  }

}
